
<div class="navFooterbg ">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 p-4 text-center">
                <h3 class="footerHeadings">Location</h3>
                <p class="footerP">2215 John Daniel Drive</p>
                <p class="footerP">Clark, MO 65243</p>
            </div>
            <div class="col-md-4 p-4 text-center">
                <h3 class="footerHeadings">AROUND THE WEB</h3>
                <div class="circle-icons">
                    <i class="fa-brands fa-facebook  icon"></i>
                    <i class="fa-brands fa-twitter fa-xs icon"></i>
                    <i class="fa-brands fa-google-plus icon"></i>
                    <i class="fa-brands fa-pinterest icon"></i>
                </div>
            </div>
            <div class="col-md-4 p-4 text-center">
                <h3 class="footerHeadings">ABOUT FREELANCER</h3>
                <p class="footerP">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>

    </div>
    <div class="copyrights d-flex justify-content-center  p-2">

<p class="footerP">Copyright © Your Website 2021</p>
    </div>
</div>