<div class="about-bg mt-5">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="content mt-4 text-center">
            <h1>ABOUT COMPONENT</h1>
            <div class="decor text-center mt-3">
                <i class="icon fa-solid fa-star"></i>
            </div>
            <div class="row pt-3">
                <div class="col-md-6">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
                <div class="col-md-6">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
        </div>

    </div>

</div>
