<div class="contact">
    <div class="container d-flex justify-content-center align-items-center mb-5">
        <div class="content mt-4 text-center">
            <h1>CONATCT SECTION</h1>
            <div class="decor text-center mt-3">
                <i class="icon fa-solid fa-star"></i>
            </div>

        </div>
    </div>
    <form class="form-group mx-auto w-50 mt-5">
          <!-- <label for="username"  >UserName :</label> -->
          <input type="text" id="username" placeholder="username" class="form-control input-style">
          <!-- <label for="userAge" class="mt-4">UserAge :</label> -->
          <input type="text" id="userAge" placeholder="userAge" class="form-control  input-style mt-4">
          <!-- <label for="userEmail" class="mt-4">UserEmail :</label> -->
          <input type="text" id="userEmail" placeholder="userEmail" class="form-control  input-style mt-4">
          <!-- <label for="userPaswword" class="mt-4">UserPassword :</label> -->
          <input type="text" id="userPaswword" placeholder="userPaswword" class="form-control  input-style mt-4">

          <button class="active-link border-0 p-2 mt-4">send message</button>

      </form>
      
</div>
